:root {
    --primary: #ff4e18;
    --background: #000000;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background) ;
    color: rgb(255, 0, 0);
}

/* Navbar */
.navbar {
    display:flex;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(0, 0, 0);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar img {
    max-height: 5rem;
    border-radius: 0.5rem;
    max-width: 5rem;
    width: 40%;
    align-content: center;
    padding-right: 0.5rem;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;

}
.navbar .navbar-logo span {
    color: var(--primary);
    text-shadow: 1px 1px 3px rgb(255, 0, 0);
}

.navbar-extra {
    margin-left: auto;
}
.navbar .navbar-extra a {
    color: #ff6600; 
    font-size: 1.4rem;
    margin: 0 0.5rem;
}
.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform:scaleX(0);
    transition: 0.2s linear;
    transform-origin: center;
}

.navbar .navbar-nav a:hover:after {
    transform:scaleX(0.1);
}

/* Navbar Menu */
.navbar .navbar-nav { 
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(255, 253, 253);
        width: 25rem;
        height: 100vh;
        transition: 0.5s;

    }
.navbar .navbar-nav.active {
        right: 0; 
    }
.navbar .navbar-nav a {
        color: #ff6600;
        display:block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.3rem;
        text-align: center;

    }

/* Majalah Page Section */

.topbar{
  font-family: 'Poppins',sans-serif;
  margin-top: 5rem;
  margin-bottom: 2rem;
  height: 60px;
  display: flex;
  align-items: center;
  padding : 2rem 7% 1.4rem;
}

.topbar .back{
    text-align:left;
    background-color: #ff6600;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.topbar h2 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-items: center;
  margin-left: 1rem;
} 

.topbar h2 span {
  color: #ff4e18;
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  background: #ffffff;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.toolbar button{
  font-family: 'Poppins',sans-serif;
  background: #ff7a3d;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.toolbar button:hover{
  background: #ff6424;
}

.book-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
}

#book{
  max-width: fit-content;
  margin: 0 auto;
  height: 600px;
  background:#000000;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,.6);
}

/* Majalah Page Section */


/* Footer Section */

/* Footer */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 5rem;
}

footer .social {
    padding: 1rem 0;

}

footer .social a {
    color: #ff0000;
    margin: 1rem;
}

footer .social a:hover, footer .links a:hover  {
    color: #000000;
}

footer .links {
    margin-bottom: 1.2rem;
}

footer .links a {
    color: #ff0000;
    padding: 0.7rem 1rem;

}

footer .credit {
    font-size: 0.8rem;

}

footer .credit a {
    color: #000000;
    font-weight: 700;
}
/* Footer End*/


/* Bidang Section */
.menu, .donasi {
    padding : 8rem 7% 1.4rem;
}

.menu h2, .donasi h2 {
    font-size: 2.4rem;
    margin-bottom: 0.1rem;
    text-align: center;
    color: white;
}

.menu h2 span, .donasi h2 span { 
    color: #ff0000;
}

.menu p, .donasi p { 
    text-align: center;
    max-width: 100rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6rem;
    color: #ffffff;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
    gap: 5rem;
    
}

.menu .row .profil-card a {
    color: #fff;
     display:flex;
    align-items:center;
    gap:6px;
    justify-content: center;
    padding-bottom: 1rem;

}


.menu .row .profil-card span {
    color: #ff6600;
    font-size: 1.4rem;

}

.menu .row .profil-card img {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    
}

.menu .row .profil-card {
    text-align: center;
    max-width: 200px;
}

.menu .row .profil-card .profil-card-nama {
    margin-top: 1.5rem;
    color: white;
}

.menu .row .profil-card .profil-card-nim {
    margin-top: 1.5rem auto 0.5rem;
    color: whitesmoke;
}




/* Media Quaries */

/* Laptop */
@media(max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    .hero .content h1 {
        font-size: 5rem;
    }
    .about h2{
    
    margin-bottom: 6rem;
    }
    .pdf-viewer {
    width: 90%;
    height: 80vh;
    }

    .about .nav {
    display: none;
    }
    .carousel .card{
  width:180px;
  height:225px;
  border-radius:20px;
  overflow:hidden;
  position:relative;
  opacity:.4;
  transform:scale(.9);
  transition:0.4s;
  cursor:pointer;
  margin-top: 2rem;
  flex-shrink: 0;
}

.card .text h3 {
    font-size: 1rem;
    min-height: 15rem;
}

.card .text p {
    font-size: 1rem;
}

.card .btn {
  font-size: 0.7rem;
    
}
    
  #book{
    width: 100%;
    height: fit-content;
  }
}  


/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

}

